include setup.py

# C sources
include src/libaquahash/internal.c
include src/libaquahash/sha3.c
include src/libaquahash/util.c
include src/python/core.c

# Headers
include src/libaquahash/compiler.h
include src/libaquahash/data_sizes.h
include src/libaquahash/endian.h
include src/libaquahash/aquahash.h
include src/libaquahash/fnv.h
include src/libaquahash/internal.h
include src/libaquahash/sha3.h
include src/libaquahash/util.h
